<load target="popup.css" />
<load target="popup.js" />
<load target="../lang/lang.xml" />

<div id="popHeader" class="wide">
	<h1 class="h1">{$component_info->title}</h1>
</div>

<form action="./" method="get" onSubmit="return false" id="fo">
	<div id="popBody">
		<table cellspacing="0" class="rowTable" style="width: 90%;">
		<col width="150" />
		<col />
		<tr>
			<th scope="row"><div>{$lang->code_type} <span class="required">*</span></div></th>
			<td>
				<select name="code_type">
					<option loop="$brushes => $item" value="{$item[1]}">{$item[0]}</option>
				</select>
			</td>
		</tr>
		<tr>
			<th scope="row"><div>코드 <span class="required">*</span></div></th>
			<td>
				<textarea name="code" style="width:100%; height:400px;" placeholder="여기에 코드를 입력해주세요"></textarea>
			</td>
		</tr>
		</table>
	</div>

	<div id="popFooter" style="text-align:center">
		<span class="btn"><input type="button" id="btn_preview" value="미리보기" /></span>
		<a href="#" onclick="insertCode()" class="btn"><span>{$lang->cmd_submit}</span></a>
	</div>
</form>

<div id="preview" style="width: 100%; overflow:hidden;">
	
</div>

<script type="text/javascript">
//<![CDATA[
(function($) {
$(function() {
	getCode();
	var form$ = $('#fo');
	var btnPreview$ = form$.find('#btn_preview');

	btnPreview$.click(previewCode);
});

hljs.initHighlightingOnLoad();

function previewCode()
{
	var form$ = jQuery('#fo');
	var preview$ = jQuery('#preview');

	var opt = getArrangedOption(form$);
	opt.code = getArrangedCode(opt.code, 'preview');

	preview$.html('<pre><code class="' + opt.code_type.toLowerCase() + '">' + opt.code + '</code></pre>');

	$('pre code').each(function(i, block) {
		hljs.highlightBlock(block);
	});
}
}) (jQuery);
//]]>
</script>
